<%- include('./partials/admin_header') %>

<div class="container dashboard">
  <!-- if post collection is empty -->

  <% if (allBlogs.length === 0) { %>
  <div class="add_blog">
    <h1>Add Your First Blog</h1>
    <a href="/blog/add-new">Add+</a>
  </div>
  <% } else { %>

  <!-- Render all blogs -->
  <div class="allBlogs">
    <% allBlogs.forEach(blog => { %>

    <a class="blog-link" href="/blog/<%= blog.id %>">
      <div class="blog-card">
        <div class="blog-title"><%= blog.title %></div>
        <div class="blog-btn">
          <!-- edit patch route -->
          <a href="/blog/edit/<%= blog._id %>" class="edit-btn">Edit</a>

          <!-- delete blog route -->
          <form
            action="/blog/delete/<%= blog._id %>?_method=DELETE"
            method="post"
          >
            <input type="submit" value="Delete" class="delete-btn" />
          </form>
        </div>
      </div>
    </a>

    <% }) %>
  </div>

  <a class="add-new-blog" href="/blog/add-new">Add</a>
  <% } %>
</div>

<%- include('./partials/footer') %>
